{% extends "layout.html" %}

{% block title %}
    How To
{% endblock %}

{% block main %}
    <div>
        <h2>How to use DiaryCloud</h2>
        <br>
        <div class="about">

            <h4>Introduction</h4>
            <p>Welcome to CloudDiary. A place where you can keep track of your daily thoughts, moods and emotions. The interface can be used to support the user in their mental health journey by visualising their mental health.
            </p>
            <br>
            
            <h4>How it works</h4>
            <p>In the <a href="/diary">Diary</a> tab, you can make an entry into your personal diary and also select your moods/emotions. This is your priavte data and cannot be seen by other users</p>
            <p>Your homepage will generate a WordCloud for the current month by default, the size of the text will determine the size of the word you see in the WordCloud</p>
            <p>You are able to change the month and year to see a</p>
            <br>

        </div>


    </div>

{% endblock %}
