{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block apology %}
<p class="apology">{{ apology }}</p>
{% endblock %}

{% block main %}
<form action="/change_password" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Current Password" type="password"  minlength="5">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="Enter a New Password" type="password"  minlength="5">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password"  minlength="5">
    </div>
    <button class="btn btn-dark" type="submit">Change Password</button>
</form>
{% endblock %}
