{% extends "layout.html" %}

{% block title %}
    Diary
{% endblock %}

{% block apology %}
    <h1 class="apology">{{ apology }}</h1>
{% endblock %}

{% block main %}

          <form action="/images" method="post">
              <div class="mb-1">
                  <h3>Entry Date:</h3>
                  <input autocomplete="off" class="form-control mx-auto w-auto" id="date" name="date" placeholder="Date" type="date">
              </div>
              <div class="mb-3">
                  <p>Leave blank if you wish to use todays date!!</p>
              </div>

              <div class="mb-3">
                <h3>Image Entry:</h3>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="img" name="img" accept="image/*" placeholder="Upload a image" type="file" ></input>
              </div>

              <div class="mb-3">
                  <h3>Note Entry:</h3>
                  <textarea autocomplete="off" class="form-control mx-auto w-auto" id="note" name="note" placeholder="Enter a note or description for your image!" type="text" style=" min-width:50px; max-width:100%" cols="100"></textarea>
              </div>

              <button class="btn btn-primary" type="submit">Upload Image and Submit Note</button>
          </form>






{% endblock %}
