{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block apology %}
    <h2 class="apology">{{ apology }}</h2>
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="display_name" name="display_name" placeholder="Display Name" type="text" required minlength="2">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required minlength="2">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required minlength="5">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required minlength="5">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
