{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block apology %}
<p class="apology">{{ apology }}</p>
{% endblock %}

{% block main %}
<br>
<h3>User Settings</h3>
    <table class="table table-hover table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th class="text-start col1">User Settings</th>
                <th class="text-start col2">Current</th>
                <th class="text-start col3">Change</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-start">Display Name</td>
                <td class="text-start">{{ name }}</td>
                <td class="text-start"><a href="/change_name">Change Name</a></td>
            </tr>

            <tr>
                <td class="text-start">Password</td>
                <td class="text-start">**********</td>
                <td class="text-start"><a href="/change_password">Change Password</a></td>
            </tr>
        </tbody>
    </table>
<!--
<br>
<h3>WordCloud Settings</h3>
    <table class="table table-hover table-striped">
        <thead style="background-color: black; color: white;">
            <tr>
                <th class="text-start col1">WordCloud Settings</th>
                <th class="text-start col2">Current</th>
                <th class="text-start col3">Change</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-start"></td>
                <td class="text-start"></td>
                <td class="text-start"></td>
            </tr>

            <tr>
                <td class="text-start"></td>
                <td class="text-start"></td>
                <td class="text-start"></td>
            </tr>
        </tbody>
    </table>
-->
{% endblock %}